name: CD (Build WAR)

on:
  push:
    branches: ["main"]

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "maven"

      - name: Build WAR
        run: mvn -B clean package -DskipTests

      - name: Upload WAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: oceanview-war
          path: target/*.war

